<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Danika's Recipe Bin</a>
    <a href="/recipes/new" class="btn btn-primary navbar-btn">New Recipe</a>

  </div>
</nav>