<div 
  style="
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
  "
>
  <h1>A big 'ole recipe bin</h1>
  <p><em>I love cooking, but the recipes I want to try are all over the place, so here they are all in one place!</em></p>
  <a href="/recipes"><button type="button" class="btn btn-primary">View Recipes</button></a>
</div>