<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each recipes}}
        <li class="list-group-item">
          <a href="/n/{{this.type}}">{{this.type}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>